# Functions

In [1]:
def greet(): # define the function here 
    print('Good Evening') # print the statement

In [3]:
greet() # Calling the function

Good Evening

In [4]:
greet()
greet()
greet()

Good Evening
Good Evening
Good Evening

In [7]:
def add(x):
    c=x+y
    print(c)
add(5,6)

TypeError: add() takes 1 positional argument but 2 were given

In [8]:
def add(x,y,z):
    c=x+y
    print(c)
add(5,6)

TypeError: add() missing 1 required positional argument: 'z'

In [6]:
def add(x,y):
    c=x+y
    print(c)
add(5,6)
add(5.5,6.9)
add('add','mee')

11
12.4
addmee

In [9]:
def greet():
    print('Good Evening')

def add(x,y):
    c=x+y
    print(c)
    
def sub(x,y):
    c=y-x
    print(c)

greet()
add(5,6)
sub(6,20)

Good Evening
11
14

In [13]:
def add(x,y):
    c=x+y
    return c

add(5,6)

11

In [15]:
def add(x,y): #int
    c=x+y
    return c
    
def sub(x,y): #int
    d=x-y
    return d

print(add(20,10))
print(sub(20,10))

30
10

In [17]:
def add_sub(x,y): #tuple
    d=x-y
    c=x+y
    return c,d
result=add_sub(4,5)
print(type(result))

<class 'tuple'>

In [19]:
def add_sub(x,y): #int
    d=x-y
    c=x+y
    return c,d
result,result2=add_sub(4,5)
print(result)
print(result2)
print(type(result))
print(type(result))

9
-1
<class 'int'>
<class 'int'>

# Function Arguments

In [21]:
def update():
    x=8
    print(x)

update()

8

In [24]:
def update(x):
    x=8
    return x

a=10
update(a)

8

In [23]:
def update(x):
    x=8
    return x

a=10
update(a)
print(a)

10

In [ ]:
# function has 2 main concept
# function without argument -- not required any thing
# function with argument-- divide into 2 part
    # formal argument
    # actual argument

In [25]:
def add(x,y): #x,y are formal argument
    c=x+y
    return c

add(4,5) # 4,5 are actual argument

9

# Actual Argument

In [26]:
# Positional argument

In [27]:
# Key word argument

In [28]:
def person(name,age):
    print (name)
    print(age+1)

person(22,'name')

22

TypeError: can only concatenate str (not "int") to str

In [29]:
def person(name,age): # Keyword Argument
    print (name)
    print(age+1)

person(age=22,name='name')

name
23

In [30]:
def person(name,age,salary): # Positional Argument
    print (name)
    print(age+1)
    print('no job')
    
person(age=22,name='name')

TypeError: person() missing 1 required positional argument: 'salary'

In [31]:
def person(name,age,salary): # Positional Argument
    print (name)
    print(age+1)
    print('no job')
    
person(age=22,name='name',1000)

SyntaxError: positional argument follows keyword argument (3837506855.py, line 6)

In [32]:
def person(name,age,salary): # Positional Argument
    print (name)
    print(age+1)
    print('no job')
    
person(age=22,name='name',salary=1000)

name
23
no job

In [33]:
# Default Argument

In [34]:
def person(name,age):
    print (name)
    print(age)

person('name')

TypeError: person() missing 1 required positional argument: 'age'

In [36]:
def person(name,age=18):  # default argument
    print (name)
    print(age)

person('name',age)

name
18

In [37]:
def person(name,age=18):  # default argument
    print (name)
    print(age)

person('name',age=40)

name
40